body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

form {

    width: 80%;
    height: auto;
    margin-top: 10px;
}

.all {
    display: grid;
    background-color: white;
    place-items: center;
    margin: 0 auto;
    max-width: 460px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0.2%;
    
}

.head1 {
    display: grid;
    place-items: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    max-width: 460px;
    margin-top: 7%;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formbtn{
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    height: 40px;

}
footer {
    display: grid;
    place-items: center;
    margin-top: 4%;
    font-family: 'Times New Roman', Times, serif;
}


.flash-messages {
    display: flex;
    background-color: red;
    color: white;
    width: 60%;
    justify-content: center;
    align-items: center;
    
}