.form-username{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.form-password{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    opacity: 0.8;

}


form {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}

.createaccount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: 0.5px solid whitesmoke;
    margin-bottom: 2%;
    margin-top: 1%;
}

.forgot-password {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-bottom: 2%;
}