.form-group {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0.1%;
}
input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    opacity: 0.8;

}

.formbtn{
    width: 50%;

}